<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PopularClips{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/noche.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'favi.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/intro.js/minified/introjs.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bloques.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/intro.js/minified/intro.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a551ab;">
        <a class="navbar-brand" href="{% url 'clip_list' %}" style="color: #f8f9fa;">PopularClips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'clip_ranking' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'clip_ranking' %}" style="color: #ffffff;">Ranking</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'faq' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'faq' %}" style="color: #ffffff;">FAQ</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'contact_us' %}" style="color: #ffffff;">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'add_clip' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'add_clip' %}" style="color: #ffffff;">AñadirClips</a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-nav ml-auto">
                {% if request.resolver_match.url_name == 'clip_list' %}
                <button id="help-tour" class="btn btn-info ml-2" onclick="reiniciarTour()">Ayuda</button>
                {% endif %}
                <button id="toggle-mode" class="btn btn-dark">Modo Noche</button>
                {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'user_profile' user.id %}">Mi Perfil</a>
                            <a class="dropdown-item" href="{% url 'user_settings' %}">Configuración</a>
                            <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-primary ml-2" style="color: #ffffff;">Iniciar Sesión</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-success ml-2" style="color: #ffffff;">Registrarse</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementById("toggle-mode");
            const body = document.body;

            if (localStorage.getItem("nightMode") === "enabled") {
                body.classList.add("night-mode");
            }

            toggleButton.addEventListener("click", function() {
                body.classList.toggle("night-mode");

                if (body.classList.contains("night-mode")) {
                    localStorage.setItem("nightMode", "enabled");
                } else {
                    localStorage.removeItem("nightMode");
                }
            });
        });
    </script>
</body>
</html>
