{% extends 'base.html' %}

{% block title %}
Lista de Clips - PopularClips
{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Bloques principales -->
    <div class="row">
        <!-- Bloque Izquierdo: Ranking -->
        <div class="col-md-2 ranking-block"style="
        width: 230px;
        padding-left: 0px;
        padding-right: 0px;
    ">
            <h2 style="width: 200px;">Top 3 Clips Populares de la Semana</h2>
            <a href="{% url 'clip_ranking' %}" class="btn btn-primary">Ver Ranking Total</a>
            <ol class="ranking-list">
                {% for clip in ranking_clips %}
                    <li>
                        <a href="{% url 'clip_detail' clip.id %}">{{ clip.title }}</a> - {{ clip.vote_score }} votos
                    </li>
                {% endfor %}
            </ol>
        </div>

        <!-- Bloque Central: Carrusel -->
        <div class="col-md-8 carrusel-block">
            <div id="carousel" class="text-center mb-4">
                <button id="prev-clip" class="btn btn-secondary">
                    <img src="{% static 'imagen/flecha-izquierda.png' %}" alt="Anterior" style="width: 60px; height: 35px;">
                </button>
                <div class="carousel-container" style="display: flex; position: relative;">
                    <iframe id="carousel-clip" src="" allowfullscreen style="width: 600px;height: 350px;border: none;border-radius: 20px;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);"></iframe>
                </div>
                <button id="next-clip" class="btn btn-secondary">
                    <img src="{% static 'imagen/flecha-derecha.png' %}" alt="Siguiente" style="width: 60px; height: 35px;">
                </button>
            </div>
        </div>

        <!-- Bloque Derecho: FAQ -->
        <div class="col-md-2 faq-block"style="left: 20px;">
            <h3 style="width: 200px;">Preguntas Típicas </h3>
            <ul class="faq-list">
                <li><a href="#">¿Cómo puedo subir un clip?</a></li>
                <li><a href="#">¿Qué es un ranking de clips?</a></li>
                <li><a href="#">¿Cómo voto por un clip?</a></li>
                
            </ul>
            <h3 style="width: 200px;">Últimos Clips Subidos</h3>
            <ul class="latest-clips">
                {% for clip in latest_clips %}
                    <li>
                        <a href="{% url 'clip_detail' clip.id %}">
                            <img src="{{ clip.thumbnail_url }}" alt="{{ clip.title }}" class="clip-thumbnail">
                            {{ clip.title }}
                        </a>
                    </li>
                {% endfor %}
                <h3>¿Necesitas Ayuda?</h3>
                <p>Contáctanos o revisa nuestras preguntas frecuentes para más información.</p>
                <a href="{% url 'contact_us' %}" class="btn btn-reiniciar">Contáctanos</a>
            </ul>
        </div>
    </div>

    <!-- Bloque Inferior: Lista de Clips -->
    <div class="clip-list-block mt-5">
        <div class="filter-form mb-4">
            <form method="GET" action="{% url 'clip_list' %}">
                <select name="order_by" id="order-select" class="custom-select" onchange="this.form.submit()">
                    <option value="date" {% if request.GET.order_by == 'date' %}selected{% endif %}>Más recientes</option>
                    <option value="popularity" {% if request.GET.order_by == 'popularity' %}selected{% endif %}>Más popular</option>
                    <option value="language" {% if request.GET.order_by == 'language' %}selected{% endif %}>Idioma</option>
                </select>
                <select name="streamer" class="custom-select" onchange="this.form.submit()">
                    <option value="">Todos los clips</option>
                    {% for streamer in streamers %}
                        <option value="{{ streamer.id }}" {% if request.GET.streamer == streamer.id|stringformat:"d" %}selected{% endif %}>{{ streamer.name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div id="clip-container" class="row">
            {% for clip in clips %}
                <div class="col-md-4 mb-4 clip" style="display: none;">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9 mb-2">
                            <iframe class="embed-responsive-item lazy-iframe" data-src="{{ clip.url }}&parent={{ ngrok_url }}" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ clip.title }}</h5>
                            <p class="card-text">Streamer: <a href="{% url 'clip_list' %}?streamer={{ clip.streamer.id }}">{{ clip.streamer.name }}</a></p>
                            <a href="{% url 'clip_detail' clip.id %}" class="btn btn-primary">Visualízame</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay clips disponibles.</p>
            {% endfor %}
        </div>

        <div id="mostrar-mas-container" class="text-center mt-4">
            <button id="mostrar-mas" class="btn btn-primary">Mostrar más</button>
        </div>
        <div id="scroll-up-container" class="text-center mt-4" style="display: none;">
            <button id="scroll-up" class="btn btn-secondary">Subir</button>
        </div>
    </div>
</div>

<!-- Scripts -->
<script>
    function iniciarTour() {
        // Verifica si el usuario ya vio el tour
        if (localStorage.getItem('tourVisto') !== 'true') {
            introJs().setOptions({
                steps: [
                    {
                        intro: "¡Bienvenido a PopularClips! Vamos a explorar las principales funciones de esta aplicación."
                    },
                    {
                        element: document.querySelector('.ranking-list'),
                        intro: "Aquí puedes ver los clips más populares de la semana. ¡Haz clic para ver más!"
                    },
                    {
                        element: document.querySelector('#carousel'),
                        intro: "Este es el carrusel. Haz clic en las flechas para ver clips aleatorios."
                    },
                    {
                        element: document.querySelector('#order-select'),
                        intro: "Usa este filtro para ordenar los clips según fecha, popularidad o idioma."
                    },
                    {
                        element: document.querySelector('.btn-outline-primary'),
                        intro: "Inicia sesión o regístrate para acceder a todas las funciones."
                    }
                ]
            }).start();

            // Marca que el tour ha sido visto
            localStorage.setItem('tourVisto', 'true');
        }
    }

    // Llamar al tour en el botón "Empezar tour" o al cargar la página si es la primera vez
    document.addEventListener("DOMContentLoaded", function() {
        // Mostrar el tour solo si el usuario es nuevo o si se reinicia desde el botón
        if (localStorage.getItem('tourVisto') !== 'true') {
            iniciarTour();
        }
    });

    // Función para reiniciar el tour cuando el usuario lo solicite
    function reiniciarTour() {
        localStorage.removeItem('tourVisto');  // Elimina el registro de tour visto
        iniciarTour();  // Muestra el tour nuevamente
    }

    // Configuración del carrusel de clips
    var clips = [
        {% for clip in clips %}
            "{{ clip.url }}&parent={{ ngrok_url }}&autoplay=1"{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
    var currentClipIndex = 0;

    function mostrarClipActual() {
        var iframe = document.getElementById('carousel-clip');
        iframe.src = clips[currentClipIndex];
    }

    function clipAleatorio() {
        currentClipIndex = Math.floor(Math.random() * clips.length);
        mostrarClipActual();
    }

    window.onload = function() {
        mostrarClipActual();
        mostrarClips();
    };

    document.getElementById('prev-clip').addEventListener('click', function() {
        currentClipIndex = (currentClipIndex - 1 + clips.length) % clips.length;
        mostrarClipActual();
    });

    document.getElementById('next-clip').addEventListener('click', function() {
        clipAleatorio();
    });

    var clipsAMostrar = 3;
    var incrementoClips = 3;

    function mostrarClips() {
        var clips = document.querySelectorAll('.clip');
        for (var i = 0; i < clipsAMostrar && i < clips.length; i++) {
            clips[i].style.display = 'block';
        }

        if (clipsAMostrar >= clips.length) {
            document.getElementById('mostrar-mas-container').style.display = 'none';
            document.getElementById('scroll-up-container').style.display = 'block';
        }
    }

    document.getElementById('mostrar-mas').addEventListener('click', function() {
        clipsAMostrar += incrementoClips;
        mostrarClips();
    });

    document.getElementById('scroll-up').addEventListener('click', function() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    var lazyIframes = [].slice.call(document.querySelectorAll("iframe.lazy-iframe"));
    if ("IntersectionObserver" in window) {
        let iframeObserver = new IntersectionObserver(function(entries) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                    let iframe = entry.target;
                    iframe.src = iframe.dataset.src;
                    iframe.classList.remove("lazy-iframe");
                    iframeObserver.unobserve(iframe);
                }
            });
        });

        lazyIframes.forEach(function(iframe) {
            iframeObserver.observe(iframe);
        });
    } else {
        lazyIframes.forEach(function(iframe) {
            iframe.src = iframe.dataset.src;
        });
    }
</script>
{% endblock %}
